@model HastaneOtomasyonu.Models.KullaniciHesap
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/GirisKayitLayout.cshtml";
}

<h2>Giriş Yap</h2>
<div class="outer-box">
    <div class="login-box">
        <h4 class="login-text">Giriş</h4>
        <center>
            <form action="Login" method="post">
                <input type="email" placeholder="E-mail" asp-for="Email">
                <input type="password" placeholder="Şifre" asp-for="Password">
                <button id="btn-login">Giriş Yap</button>
            </form>
        </center>
    </div>
</div>
