@model HastaneOtomasyonu.Models.KullaniciHesap
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/GirisKayitLayout.cshtml";
}

<h2>Kaydol</h2>
<div class="outer-box">
    <div class="login-box">
        <h4 class="login-text">Giriş</h4>
        <center>
            <form action="Register" method="post">
                <input type="text" placeholder="İsim" asp-for="FirstName">
                <input type="text" placeholder="Soyisim" asp-for="LastName">
                <input type="email" placeholder="E-mail" asp-for="Email">
                <input type="password" placeholder="Şifre" asp-for="Password">
                <input type="password" placeholder="Şifre Onayla" asp-for="CPassword">

                <button id="btn-login">Giriş Yap</button>
            </form>
        </center>
    </div>
</div>

