@{
    ViewData["Title"] = "IndexG";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="banner">
	<div id="wrapper">
		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider">
				<img src="~/images/banner2.jpg" alt="" />
				<img src="~/images/banner1.jpg" alt="" />
				<img src="~/images/banner3.jpg" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="content-top">
	<div>
		<hr />
		<div class="title-img">
			<div class="title"><img src="~/images/h1.png" style="width:25%;" alt=""></div>
			<div class="title-desc"><p>Diamond Hastanesi</p></div>
			<div class="clear"></div>
		</div>
		<h4 class=head>Vizyonumuz</h4>
		<p>
			Diamond Hastanesi, sağlık sektöründe mükemmeliyeti benimseyen ve toplumun sağlığını güçlendirmeyi amaçlayan bir vizyona sahiptir. Modern tıbbi teknolojileri kullanarak, hasta odaklı bir yaklaşım benimseyerek, etik değerlere bağlı kalarak, her geçen gün daha iyi bir sağlık hizmeti sunmayı hedeflemektedir.
		</p>
		<hr>
		<h4 class=head>Misyonumuz</h4>
		<p>
			Diamond Hastanesi, hastalarına uzman bir sağlık hizmeti sunmayı, sürekli eğitim ve gelişimle kalite standartlarını yükseltmeyi ve toplum sağlığını iyileştirmeyi misyon edinmiştir. Hasta memnuniyetini en üst düzeye çıkarmak, güvenilir ve etik bir anlayışla tedavi sunmak, yenilikçi çözümler geliştirmek ve toplumsal sorumluluk bilinciyle hareket etmek Diamond Hastanesi'nin temel misyonunu oluşturmaktadır.
		</p>
		<hr>
		<h4 class=head>Hizmetler</h4>
		<p>
			Diamond Hastanesi, geniş bir sağlık hizmetleri yelpazesi sunarak hastalarına kapsamlı bir tedavi imkanı sağlar. Bu hizmetler arasında genel cerrahi, iç hastalıkları, kadın doğum, çocuk sağlığı, radyoloji, laboratuvar hizmetleri, acil servis ve daha birçok branş bulunmaktadır. Teknolojik altyapısı ve uzman kadrosuyla hastalarına modern, güvenilir ve etkili sağlık hizmetleri sunmaktadır.
			<br>
			Diamond Hastanesi, hasta odaklı yaklaşımıyla ve kaliteli sağlık hizmetleriyle tanınan bir kurum olmayı amaçlamaktadır. Hastalarına güvenli, etik değerlere uygun ve bilimsel temellere dayalı bir tedavi sunarak toplumun sağlık standartlarını yükseltmeye katkıda bulunmayı hedeflemektedir.
		</p>
		<hr>
	</div>

	<div class="clear"></div>
	<div class="title-img">
		<div class="title"><img src="~/images/h2.png" style="width:25%;" alt=""></div>
		<div class="title-desc"><p>POLİKLİNİKLER</p></div>
		<div class="clear"></div>
	</div>
	<div class="content-bottom">
		<div class="col_1_of_bottom span_1_of_bottom">
			<img src="~/images/pic.jpg" style="width:100%;" alt="" />
			<div class="main_link">
				<h5>Genel Cerrahi</h5>
				<p> Genel cerrahi, vücuttaki çeşitli organlarda ortaya çıkabilen geniş bir yelpazedeki sorunları ele alır.</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<img src="~/images/pic1.jpg" style="width:94%;" alt="" />
			<div class="main_link">
				<h5>Dahiliye</h5>
				<p>Dahiliye, yetişkinlerin iç organlarının hastalıkları ve genel sağlık sorunlarını ele alır. </p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<img src="~/images/pic3.jpg" style="width:104%;" alt="" />
			<div class="main_link">
				<h5>Kardiyoloji</h5>
				<p>Kardiyoloji, kalp ve damar sistemindeki hastalıkları inceleyen, tanı koyan ve tedavi eden tıp dalıdır.</p>
			</div>
		</div>

		<a href="@Url.Action("PoliklinikG", "Home")" class="btn btn-primary" style="margin-top: 20px;
							text-align: left; background-color: #d9155c;color: white;">more</a>
		<div class="clear"></div>
	</div>
</div>