@{
    ViewData["Title"] = "PoliklinikG";
    Layout = "~/Views/Shared/Layout.cshtml";
}

	<div class="title-img">
		<div class="title-desc"><p>POLİKLİNİKLER</p></div>
		<div class="clear"></div>
	</div>
	<hr />
	<div class="content-bottom">
		<div class="col_1_of_bottom span_1_of_bottom">

			<div>
				<h5>GENEL CERRAHİ</h5>
				<p> Genel cerrahi, vücuttaki çeşitli organlarda ortaya çıkabilen geniş bir yelpazedeki sorunları ele alır.</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">

			<div>
				<h5>DAHİLİYE</h5>
				<p>Dahiliye, yetişkinlerin iç organlarının hastalıkları ve genel sağlık sorunlarını ele alır. </p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>KARDİYOLOJİ</h5>
				<p>Kardiyoloji, kalp ve damar sistemindeki hastalıkları inceleyen, tanı koyan ve tedavi eden tıp dalıdır.</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content-bottom">
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>BESLENME VE DİYETETİK</h5>
				<p>
					Bireylerin sağlıklı bir yaşam sürmeleri ve çeşitli sağlık sorunlarıyla başa çıkmaları için uzmanlık sağlayan tıp dalıdır.
				</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>GÖZ HASTALIKLARI</h5>
				<p>
					Göz hastalıkları polikliniği gözle ilgili sağlık sorunları ve muayene ihtiyaçlarına odaklanan bir sağlık birimidir.
				</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>KADIN DOĞUM</h5>
				<p>
					Kadınların sağlığı ile ilgili sorunları teşhis etmek, tedavi etmek ve bu süreçte hamilelik, doğum ve doğum sonrası bakım hizmetleri sunmak üzere tasarlanmıştır.
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content-bottom">
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>ACİL SERVİS</h5>
				<p>
					Beklenmeyen tıbbi durumlar, acil sağlık sorunları ve acil müdahale gerektiren durumlar için hizmet veren bir sağlık birimidir.
				</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>ÇOCUK HASTALIKLARI</h5>
				<p>
					Pediatri uzmanları tarafından yönetilir ve çocukların büyüme, gelişme, sağlık sorunları, aşılar, enfeksiyonlar, alerjiler ve genel sağlık bakımı gibi konularda hizmet verir
				</p>
			</div>
		</div>
		<div class="col_1_of_bottom span_1_of_bottom">
			<div>
				<h5>AĞIZ VE DİŞ HASTALIKLARI</h5>
				<p>
					Genellikle diş hekimleri tarafından yönetilen ve ağız, diş, çene ve ağız çevresi dokularındaki hastalıkların teşhis, tedavi ve önlenmesi ile ilgilenen bir sağlık birimidir.
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>


