@model List<HastaneOtomasyonu.Models.Poliklinik>
@{
    ViewData["Title"] = "PoliklinikListele";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div id="page-wrapper">
	<div class="main-page">
		<h3 class="title1">Tüm Doktorlar</h3>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<section class="section_container booking_container">
				<div class="booking__nav">
					<span>Doktor Bilgileri</span>
				</div>
				<style>
					table {
						border-collapse: collapse;
						width: 100%;
						margin-top: 20px;
					}

					th, td {
						border: 1px solid #dddddd;
						text-align: left;
						padding: 8px;
					}

					th {
						background-color: #f2f2f2;
					}

					tr:nth-child(even) {
						background-color: #f9f9f9;
					}

					tr:hover {
						background-color: #e0e0e0;
					}
				</style>
				<table border="1">
					<thead>
						<tr>
							<td>Poliklinik No</td>
							<td>Poliklinik Adı</td>
						</tr>
					</thead>
					<tbody>
						@if (Model != null)
						{
							@foreach (var poliklinik in Model)
							{
								<tr>
									<td>@poliklinik.Poliklinid</td>
									<td>@poliklinik.PoliklinikAd</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>