@model HastaneOtomasyonu.Models.Poliklinik
@{
	ViewData["Title"] = "Poliklinik";
	Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<style>

	input {
		display: block;
		width: 80%;
		height: 30px;
		margin-top: 1.0em;
		padding: 4px;
	}

	.login-box {
		padding: 1em 1em 1em 1em;
		margin: auto;
		text-align: center;
		display: block;
		background-color: #6f92dc;
		/*border: 1px dashed white;*/
		width: 60%;
		height: auto;
	}

	.outer-box {
		display: block;
		margin: auto;
		background: #6f92dc;
		border-radius: 5px;
		width: 50%;
		height: 20em;
		height: auto;
	}

	button {
		display: block;
		width: 100%;
		height: 40px;
		margin-top: 2.0em;
		border-radius: 40px;
		background-color: #d9155c;
		color: #fff;
	}
</style>


<div class="outer-box">
	<div class="login-box">
		<center>
			<p style="color:#fff;">@ViewBag.correct</p>
			<form action="Poliklinik" method="post">
				<div style="color:floralwhite;">
					<p>Poliklinik Adı</p>
					<input type="text" asp-for="PoliklinikAd" />
					<br />
				</div>
				
				<button>Ekle</button>
			</form>

		</center>
	</div>
</div>
<br>