@model HastaneOtomasyonu.Models.Poliklinik
@{
    ViewData["Title"] = "Poliklinik";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<div id="page-wrapper">
	<div class="main-page">
		<h3 class="title1">Poliklinik Ekle</h3>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<section class="section_container booking_container">
				<div class="booking__nav">
					<span>Poliklinik Bilgileri</span>
				</div>
				<p style="color:green;">@ViewBag.correct</p>
				<form action="Poliklinik" method="post">
					<div class="form__group">
						<span><i class="ri-flight-takeoff-line"></i></span>
						<div class="input__content">
							<p>Poliklinik Adı</p>
							<div class="input__group">
								<input type="text" asp-for="PoliklinikAd" />
							</div>
						</div>
					</div>
					<button class="btn3">Ekle</button>
				</form>
			</section>
		</div>
	</div>
</div>